<nav>
    <ul class="menu">
        <li class="logo"><a href="#">Freelancini</a></li>
        <li class="item"><a href="#">Accueil</a></li>
        <li class="item"><a href="#">Projets</a></li>
        <li class="item"><a href="#">Freelancers</a></li>
        <li class="item"><a href="#">Contact</a></li>
        
        <li class="item button"><a href="#">Se connecter</a></li>
        <li class="item button secondary"><a href="#">S'inscrire</a></li>
        <li class="toggle"><span class="bars"></span></li>
    </ul>
</nav>

<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
      <div class="carousel-cell">
        <img class="w3-image" src="https://smash-images.photobox.com/original/5f04c1b41fd48d1b10ff27dfc90548bf13608845_Large-Print-lifestyle-3_1-2600.jpg">
      </div>
      <div class="carousel-cell">
        <img class="w3-image" src="https://smash-images.photobox.com/original/bca8e5fa7862a2cfaefc300c5b572e7a6dc6f3f3_Standard-Prints-lifestyle-3_1-2600.jpg">
      </div>
      <div class="carousel-cell">
        <img class="w3-image" src="https://smash-images.photobox.com/original/a422aed1a721e933961b19ea9e47e07fc71e0699_Acrylic-Prints-lifestyle-3_1-2600.jpg">
      </div>
</div>

