<br>
<!-- liste des  Freelancers-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Liste des projets</h1>
    </div>
    <hr>
  </div>
</div>
<!--cards-->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;margin-left:70px;">
        <img class="card-img-top" src="../assets/team1.png">
        <div class="card-body">
          <h4 class="card-title">Freelancer 1</h4>
          <p class="card-text"> dfergrhrthtry tyjytjutjyukjtyu tyjtyuktuktyik
            tyhtrjtyjr tujtyujtyujtyu .
          </p>
          <a href="#" class="btn btn-outline-secondary"> See Profil</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;margin-left:70px;">
        <img class="card-img-top" src="../assets/team2.png">
        <div class="card-body">
          <h4 class="card-title">Freelancer 2</h4>
          <p class="card-text"> dfergrhrthtry tyjytjutjyukjtyu tyjtyuktuktyik
            tyhtrjtyjr tujtyujtyujtyu .
          </p>
          <a href="#" class="btn btn-outline-secondary"> See Profil</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card"style="width: 18rem;margin-left:70px;">
        <img class="card-img-top" src="../assets/team3.png">
        <div class="card-body">
          <h4 class="card-title">Freelancer 3</h4>
          <p class="card-text"> dfergrhrthtry tyjytjutjyukjtyu tyjtyuktuktyik
            tyhtrjtyjr tujtyujtyujtyu .
          </p>
          <a href="#" class="btn btn-outline-secondary"> See Profil</a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn-outline-dark"><i class="fas fa-plus-circle"></i></button>
  <br><br>
  <hr class="my-4">
</div>
