.btn-outline-dark {
  width:50px;
  height:50px;
  box-shadow:2px 2px 8px #aaa;
  font:bold 13px Arial;
  border-radius:50%;
  color: #667985;
  float:right;
  border-color: #c6ced6;
}
.fa-circle{
  font-size: 50px;
}
.btn-outline-dark:hover{
  background-color: #6c757d;
  border-color: #6c757d;
  color:white;
}
