<div>
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>
 
  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="item">Item</label>
        <input type="text"
          placeholder="Enter content..." id="item"
          required [(ngModel)]="itemValue" name="item">
      </div>
      <div>
        <label for="prenom">prenom</label>
        <input type="text"
          placeholder="Enter content..." id="prenom"
          required [(ngModel)]="prenom" name="prenom">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
 
  <h2>Content from Firebase</h2>
  <div>
    <pre *ngFor="let item of users | async">{{item.nom}}</pre>
  </div>
 
</div>