<div class="container bg-light pt-5 pb-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">
            <form action="mail.php" method="post">
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> Contact</h3>
                            <p class="m-0">Bienvenu</p>
                        </div>
                    </div>
                    <div class="card-body p-3">

                        <!--Body-->
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nom et Prenom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="email" class="form-control" id="nombre" name="email" placeholder="emailo@gmail.com" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                </div>
                                <textarea class="form-control" placeholder="Message" required></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Envoyer" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
<!-- Connect-->

<div id="connect" class="container-fluid padding bg-light">
    <div class="row text-center" padding>
        <div class="col-12">
            <h2>Connection</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

<!-- Footer-->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <h1 style="font-family: Vivaldi;">Haouari voyage</h1>
                <hr class="light">
                <p>(+216) 27 132 456</p>
                <p>(+216) 70 123 456</p>
                <p> Email : bader@gmail.com</p>
                <p>Ariana : Charguia</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Menu</h5>
                <hr class="light">
                <p>Accueil</p>
                <p>Destination</p>
                <p>Circuit</p>
                <p>Contact</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Equipe</h5>
                <hr class="light">
                <p>Bader</p>
                <p>aaaa</p>
                <p>bbbb</p>
                <p>aaaaa</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy;Haouari Baderdine 2020</h5>
            </div>
        </div>
    </div>
</footer>
