<!-- Connect-->

<div class="container-fluid padding bg-light">
  <div class="row text-center" padding>
    <div class="col-12">
      <h2>Connection</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>

<!-- Footer-->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h1 style="font-family: Vivaldi;">Freelancini</h1>
        <hr class="light">
        <p>(+216) 27 132 456</p>
        <p>(+216) 70 123 456</p>
        <p> Email : csgo@gmail.com</p>
        <p>Ariana : Charguia</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Menu</h5>
        <hr class="light">
        <p>Accueil</p>
        <p>Liste des projets</p>
        <p>Liste des freelancers</p>
        <p>Contact</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Equipe</h5>
        <hr class="light">
        <p>Bader</p>
        <p>Imen</p>
        <p>Youusri</p>
        <p>Akram</p>
      </div>
      <div class="col-12">
        <hr class="light">
        <h5>&copy;Csgo team 2020</h5>
      </div>
    </div>
  </div>
</footer>



